<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<script defer src="/javascript/main.js"></script>
</head>
<body>
	<h1>Books</h1>
	<table class="table table-striped">
		<tr>
			<th>Author</th>
			<th>Title</th>
			<th>ISBN</th>
			<th>Year</th>
			<th>Price</th>
			<th colspan="3"></th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.author}">author</td>
			<td th:text="${book.title}">title</td>
			<td th:text="${book.isbn}">isbn</td>
			<td th:text="${book.publicationYear}">year</td>
			<td th:text="${book.price}">price</td>
			<td th:text="${book.category.name}">category</td>
			<td><button
					th:onmouseup="confirmDeletion([[${book.id}]], [[${book.author}]], [[${book.title}]])"
					class="btn btn-danger">Delete</button></td>
			<td><a th:href="@{/booklist/edit/{id}(id=${book.id})}"
				class="btn btn-success">Edit</a></td>
		</tr>
	</table>
	<a href="/booklist/addbook" class="btn btn-success">Add Book</a>
	<a href="/" class="btn btn-secondary">Back</a>
</body>
</html>